<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: #head}"></head>

<body>

<!-- Page Body -->
<section id="container" class="">

    <header th:replace="~{layout :: #header}"></header>

    <aside th:replace="~{layout :: #sidebar}"></aside>

    <!-- Content -->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fas fa-home"></i>Home</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="info-box blue-bg">
                        <i class="fas fa-university"></i>
                        <div class="count">Bienvenidos</div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </section>
    </section>

    <footer th:replace="~{layout :: #footer}"></footer>
</section>

<!-- Javascripts -->
<div th:replace="~{layout :: #scripts}"></div>


</body>

</html>